* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Brushstrike';
    src: url(./fonts/Brushstrike\ trial.ttf);
    font-family: "Roboto-Regular";
    src: url(./fonts/Roboto-Regular.ttf);
}

.contenedorRegistro {
    background-image: url(./image/puente.png);
    height: 896px;
}

#imagenUno {
    background-image: url(./image/login/torres.png);
    height: 896px;
}

#imagenDos {
    background-image: url(./image/login/Queulat_glaciar_24\ 1.png);
    height: 896px;
}

#imagenTres {
    background-image: url(./image/login/iglesia-machuca\ 1.png);
    height: 896px;
}

#imagenCuatro {
    background-image: url(./image/login/moais.jpg);
    height: 896px;
}

#logo {
    position: absolute;
    width: 187px;
    height: 129px;
    left: 7px;
    top: 45px;

    border-radius: 10px;
    margin-top: 33px;
    margin-left: 119px;
}

#usuario {
    position: absolute;
    margin-bottom: 39px;
    bottom: 388px;
    left: 192px;

    top: 383px;
    z-index: 1;
}

#contenedorIngreso {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 294px;
    height: 294px;
    margin-top: 136px;
    margin-left: 62px;
    top: 291px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    right: 1px;
    left: 10px;
}


input {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 27px;
    width: 276px;
    margin-top: 17px;
    margin-left: 5px;
    font-family: "Roboto-Regular";
}

.email {
    position: absolute;
    display: flex;
    background-repeat: no-repeat;

    background-image: url(./image/new-email-outlined-envelope-back\ 1.png);
    background-position: right;
    margin-top: 23px;
}

.contraseña {
    background-image: url(./image/padlock\ 1.png);
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 67px;
}

#iconoGoogle {
    position: absolute;
    background-repeat: no-repeat;
    height: 22px;
    width: 26px;
    background-image: url(./image/google1.png);

    bottom: 259px;

    top: 175px;
    right: 251px;

}

button {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 276px;
    margin-top: 17px;
    height: 34px;
    margin-left: 8px;
    cursor: pointer;
    font-family: "Roboto-Regular";
}

.iniciar {
    background: linear-gradient(180.75deg, #039F87 3.82%, #00D1CD 96.19%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);

}

.textoInicial {
    text-align: center;
    position: absolute;
    top: 240px;

    right: 18px;
    left: 26px;
}

.parrafoUno {
    font-size: 300%;
    font-family: 'Brushstrike';
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

#pTres {
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: "Roboto-Regular";
    font-size: 102%;
}

/*muro general*/

header {
    background: #03293C;
    height: 196px;
}

#contenedorBotonesMenu {
    display: flex;
    margin-top: 27px;


}

#logoMenu {
    border-left-width: 1px;
    margin-left: 118px;
    width: 176px;
    height: 137px;
}

.colorUno {
    background: #49BEB7;
    font-size: 110%;
    padding-right: 9px;
    padding-left: 9px;
    height: 28px;
}

.colorDos {
    background: #E4C01F;
    font-size: 110%;
    padding-right: 9px;
    padding-left: 9px;
    height: 28px;

}

#contenedorEscribir {}

#btnPublicar {
    width: 412px;
    background: #00D1CD;
}

#opcionPublicar {
    width: 92px;
    height: 25px;
    margin-left: 30px;
}

/*contenedor publicacion*/
#contenedorPublicacion {
    border-color: rgba(68, 68, 68, 0.18);
    height: 298px;
    background: rgba(68, 68, 68, 0.18);
    margin-top: 35px;
}

#contenedorIdentidad {
    display: flex;
    flex-wrap: wrap;
}

#nombreParticipante {

    height: 47px;
    font-size: 110%;
}

#fotoParticipante {
    border-style: solid;
    border-color: red;
    width: 75px;

}

#imagenPublicacion {
    background: #03293C;
    height: 157px;
    width: 412px;
}

/*interacciones de la publicacion*/
#interacciones {
    background: #00D1CD;
    height: 31px;
    margin-top: 0px;
    width: 422px;
    margin-right: 6px;
    display: flex;
    justify-content: flex-end;
}

#btnCompartir {
    background-image: url("./image/Vector\ Enviar.png");
    background-repeat: no-repeat;
    width: 32px;
    margin-right: 25px;
}

#btnRecomiendo {
    background-image: url("./image/Vector\ Recomiendo.png");
    background-repeat: no-repeat;
    width: 32px;
    margin-right: 25px;
}

#inputHome {
    height: 83px;
    width: 401px;
}

/*ultimo ontenedor , para salir o entrar a otra pag*/
.contenedorSalida {
    background: #03293C;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    height: 48px;
}

#btnHome {
    background-image: url("./image/VectorCasa.png");
    background-repeat: no-repeat;
    width: 32px;
}

#btnCerrar {
    background-image: url("./image/cerrarSesion.png");
    background-repeat: no-repeat;
    width: 32px;
}

#btnMuroPersonal {
    background-image: url("./image/Ellipse.png");
    background-repeat: no-repeat;
    width: 49px;
}

@media (min-width: 1440px) and (max-width: 1920px) {
    #imagenUno {
        background-image: url(./image/login/torresEscritorio.png);
        height: 1000px;
        background-repeat: no-repeat;
    }

    #imagenDos {
        background-image: url(./image/login/cascadaEscritorio.png);
        height: 1000px;
        background-repeat: no-repeat;
    }

    #imagenTres {
        background-image: url(./image/login/iglesiaEscritorio.png);
        height: 1000px;
        background-repeat: no-repeat;
    }

    #imagenCuatro {
        background-image: url(./image/login/cascadaEscritorio.png);
        height: 1000px;
        background-repeat: no-repeat;
    }

    #logo {
        position: absolute;
        width: 187px;
        height: 151px;
        top: 45px;
        border-radius: 10px;
        margin-top: 33px;
        left: 624px;
    }

    #usuario {

        position: absolute;
        bottom: 475px;
        top: 424px;
        left: 681px;
        z-index: 1;
    }

    #contenedorIngreso {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 295px;
        height: 326px;
        margin-top: 136px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        top: 334px;
        left: 568px;
    }

    input {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        height: 35px;
        width: 276px;
        margin-top: 17px;
        margin-left: 5px;
        font-family: "Roboto-Regular";
        font-size: 102%;
    }

    button {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        width: 276px;
        margin-top: 17px;
        height: 34px;
        margin-left: 8px;
        cursor: pointer;
        font-family: "Roboto-Regular";
        font-size: 102%;
    }

    #iniciar {
        background: linear-gradient(180.75deg, #039F87 3.82%, #00D1CD 96.19%);
        box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .textoInicial {
        text-align: center;
        position: absolute;
        top: 251px;
        left: 552px;


    }

    .parrafoUno {

        font-size: 300%;
        font-family: 'Brushstrike';
        color: white;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    #pTres {
        margin-left: 80px;
        margin-top: 10px;
        margin-bottom: 2px;
        font-family: "Roboto-Regular";
        font-size: 102%;
    }

    #email {
        position: absolute;
        display: flex;
        background-repeat: no-repeat;
        background-image: url(./image/new-email-outlined-envelope-back\ 1.png);
        background-position: right;
        margin-top: 23px;
    }

    #contraseña {
        background-image: url(./image/padlock\ 1.png);
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 78px;
    }

    #iconoGoogle {
        position: absolute;
        background-repeat: no-repeat;
        height: 22px;
        width: 26px;
        background-image: url(./image/google1.png);
        bottom: 286px;
        right: 895px;

    }
}